# MongoDB 101

<img src="https://cdn.meme.am/images/11599433.jpg" alt="Title" style="width:350px"/>

## Welcome to MongoDB 101! Let's take a look at what we need to do today.
#### Step 1
* Log into https://mlab.com/ and create an account
* Create database within your account
* Create two users. One with read-only permissions. One without read-only permissions
* Follow the instructions below when you are ready

In [1]:
from pymongo import MongoClient

#This is the client. Replace my (username) and (password) with your non-readonly username and password
client = MongoClient("mongodb://brownmt3255:dsi3255@ds031597.mlab.com:31597/browndb")
#We get the database here. Don't forget to change the db name to your database name!
db = client.browndb

## Navigate to wikipedia and pull down a table of your choice. Here is a sample of what I did to pull down the Harrison Ford movies table to help you out.

In [2]:
test = db.test
print test
test.insert_one({'name':'Matt','age':26,'color':'Brown'})
test.find_one()
test.remove()

Collection(Database(MongoClient(host=['ds031597.mlab.com:31597'], document_class=dict, tz_aware=False, connect=True), u'browndb'), u'test')

/Users/Madballa55/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

{u'electionId': ObjectId('7fffffff0000000000000001'),
 u'n': 27,
 u'ok': 1,
 u'opTime': {u't': 1L, u'ts': Timestamp(1478195293, 28)}}

In [3]:
import urllib2
from bs4 import BeautifulSoup
import json
import pandas as pd

soup = BeautifulSoup(urllib2.urlopen('https://en.wikipedia.org/wiki/National_Basketball_Association','lxml').read())
tables = soup.find_all('table', class_="wikitable")
listy = []
for idx, table in enumerate(tables):
    if idx == 1:
        for idx2, row in enumerate(table.find_all('tr')):
#             print "----------row----------",idx2
#             print row
            datay = row.find_all('td')
            if len(datay) > 3:
                listy += [{'Team_Name':datay[0].text,'Wins':datay[1].text,'Losses':datay[2].text,'Years_Won':[datay[4].text]}]             
nba_champs = pd.DataFrame(listy)
nba_champs.head()

/Users/Madballa55/anaconda/lib/python2.7/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 174 of the file /Users/Madballa55/anaconda/lib/python2.7/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

,Losses,Team_Name,Wins,Years_Won
0,4,Boston Celtics,17,"[1957, 1959, 1960, 1961, 1962, 1963, 1964, 196..."
1,15,Minneapolis/Los Angeles Lakers,16,"[1949, 1950, 1952, 1953, 1954, 1972, 1980, 198..."
2,0,Chicago Bulls,6,"[1991, 1992, 1993, 1996, 1997, 1998]"
3,1,San Antonio Spurs,5,"[1999, 2003, 2005, 2007, 2014]"
4,4,Philadelphia/San Francisco/Golden State Warriors,4,"[1947, 1956, 1975, 2015]"

## Now it's time to make our new mongodb document! Let's insert our wiki table's values into it.

In [44]:
#This is the client
client = MongoClient('mongodb://brownmt3255:dsi3255@ds031597.mlab.com:31597/browndb')

#Assign the db
db_nba = client.browndb

# Function to find what collections (tables) are in our DB
def printTables(db):
    list_of_tables = []
    collection = db.collection_names(include_system_collections=False)
    for collect in collection:
        list_of_tables.append(collect)
    print "List of Tables: ", list_of_tables

printTables(db_nba)

# Name collection (table)
nba_champ_collection = db_nba.test

# This removes everything from the collection(table).
nba_champ_collection.remove({})

# Insert rows into collection (table)
for x in listy:
    nba_champ_collection.insert_one(x) 

# Create DF
df_nba = pd.DataFrame(list(nba_champ_collection.find()))

# See is what is inside the collection and DF
for x in nba_champ_collection.find({})[0:5]:
    print x

df_nba.head()

List of Tables:  [u'test']

/Users/Madballa55/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:21: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

{u'Wins': u'17', u'Team_Name': u'Boston Celtics', u'_id': ObjectId('581b7866c77fdf1f6d04be07'), u'Losses': u'4', u'Years_Won': [u'1957, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1968, 1969, 1974, 1976, 1981, 1984, 1986, 2008']}
{u'Wins': u'16', u'Team_Name': u'Minneapolis/Los Angeles Lakers', u'_id': ObjectId('581b7866c77fdf1f6d04be08'), u'Losses': u'15', u'Years_Won': [u'1949, 1950, 1952, 1953, 1954, 1972, 1980, 1982, 1985, 1987, 1988, 2000, 2001, 2002, 2009, 2010']}
{u'Wins': u'6', u'Team_Name': u'Chicago Bulls', u'_id': ObjectId('581b7866c77fdf1f6d04be09'), u'Losses': u'0', u'Years_Won': [u'1991, 1992, 1993, 1996, 1997, 1998']}
{u'Wins': u'5', u'Team_Name': u'San Antonio Spurs', u'_id': ObjectId('581b7866c77fdf1f6d04be0a'), u'Losses': u'1', u'Years_Won': [u'1999, 2003, 2005, 2007, 2014']}
{u'Wins': u'4', u'Team_Name': u'Philadelphia/San Francisco/Golden State Warriors', u'_id': ObjectId('581b7866c77fdf1f6d04be0b'), u'Losses': u'4', u'Years_Won': [u'1947, 1956, 1975, 2015']}

,Losses,Team_Name,Wins,Years_Won,_id
0,4,Boston Celtics,17,"[1957, 1959, 1960, 1961, 1962, 1963, 1964, 196...",581b7866c77fdf1f6d04be07
1,15,Minneapolis/Los Angeles Lakers,16,"[1949, 1950, 1952, 1953, 1954, 1972, 1980, 198...",581b7866c77fdf1f6d04be08
2,0,Chicago Bulls,6,"[1991, 1992, 1993, 1996, 1997, 1998]",581b7866c77fdf1f6d04be09
3,1,San Antonio Spurs,5,"[1999, 2003, 2005, 2007, 2014]",581b7866c77fdf1f6d04be0a
4,4,Philadelphia/San Francisco/Golden State Warriors,4,"[1947, 1956, 1975, 2015]",581b7866c77fdf1f6d04be0b

## Awesome! Now find the read-only user in your mongolab account. You are going to be passing this to your partner in the class. Don't be shy. Everyone has to do it.

In [5]:
# Pass your string to another student. 
'mongodb://guest:3255dsi3255@ds031597.mlab.com:31597/browndb'
# Don't forget to change the username and password to your other user's username and password!
# Here is a reminder of what that string looks like
"mongodb://(username):(password)@ds063946.mlab.com:63946/(database_name)"

'mongodb://(username):(password)@ds063946.mlab.com:63946/(database_name)'

## Open the database you received from your partner. What is the data telling you? What kind of job roles would you imagine dealing with this data?

In [40]:
from pymongo import MongoClient

#This is the client
client = MongoClient('mongodb://guest:Abc123@ds031607.mlab.com:31607/sandbox')

#Assign the db
db_mil = client.sandbox

# Function to find what collections (tables) are in our DB
def printTables(db):
    list_of_tables = []
    collection = db.collection_names(include_system_collections=False)
    for collect in collection:
        list_of_tables.append(collect)
    print "List of Tables: ", list_of_tables

printTables(db_mil)

# Name collection (table)
mil_collection = db_mil.mil

# Create DF
df_mil = pd.DataFrame(list(mil_collection.find()))

# See is what is inside the collection and DF
for x in mil_collection.find({})[0:5]:
    print x

df_mil.head()

print mil_collection

List of Tables:  [u'mil']
{u'country': u'Afghanistan', u'active_mil': u'185,800', u'_id': ObjectId('580faa6daaf906330c7bf29c'), u'active_per_cap': u'5.8'}
{u'country': u'Albania', u'active_mil': u'14,250', u'_id': ObjectId('580faa6daaf906330c7bf29d'), u'active_per_cap': u'4.9'}
{u'country': u'Algeria', u'active_mil': u'130,000', u'_id': ObjectId('580faa6daaf906330c7bf29e'), u'active_per_cap': u'3.3'}
{u'country': u'Angola', u'active_mil': u'107,000', u'_id': ObjectId('580faa6daaf906330c7bf29f'), u'active_per_cap': u'8.4'}
{u'country': u'Antigua and Barbuda', u'active_mil': u'180', u'_id': ObjectId('580faa6daaf906330c7bf2a0'), u'active_per_cap': u'2.1'}
Collection(Database(MongoClient(host=['ds031607.mlab.com:31607'], document_class=dict, tz_aware=False, connect=True), u'sandbox'), u'mil')

## Was the data cleaned before you got it? Is information missing that might keep you from figuring out what the data represents?

In [37]:
print "The numeric columns weren't an int or float type. It would be nice have to descriptions for each column to understand the specific metric. "

The numeric columns weren't an int or float type. It would be nice have to descriptions for each column to understand the specific metric.

## Do some exploratory data analysis on the table. Did you find anything surprising?

In [45]:
df_mil.info()
df_mil.describe()

df_mil

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 4 columns):
_id               513 non-null object
active_mil        513 non-null object
active_per_cap    513 non-null object
country           513 non-null object
dtypes: object(4)
memory usage: 16.1+ KB

,_id,active_mil,active_per_cap,country
0,580faa6daaf906330c7bf29c,"185,800",5.8,Afghanistan
1,580faa6daaf906330c7bf29d,"14,250",4.9,Albania
2,580faa6daaf906330c7bf29e,"130,000",3.3,Algeria
3,580faa6daaf906330c7bf29f,"107,000",8.4,Angola
4,580faa6daaf906330c7bf2a0,180,2.1,Antigua and Barbuda
5,580faa6daaf906330c7bf2a1,"73,100",1.8,Argentina
6,580faa6daaf906330c7bf2a2,"44,800",14.9,Armenia
7,580faa6daaf906330c7bf2a3,"56,200",2.4,Australia
8,580faa6daaf906330c7bf2a4,"22,800",2.7,Austria
9,580faa6daaf906330c7bf2a5,"66,950",7,Azerbaijan
10,580faa6daaf906330c7bf2a6,850,2.8,Bahamas
11,580faa6daaf906330c7bf2a7,"8,200",6.1,Bahrain
12,580faa6daaf906330c7bf2a8,"157,050",1,Bangladesh
13,580faa6daaf906330c7bf2a9,610,2.1,Barbados
14,580faa6daaf906330c7bf2aa,"48,000",5.1,Belarus
15,580faa6eaaf906330c7bf2ab,"30,700",2.9,Belgium
16,580faa6eaaf906330c7bf2ac,"1,050",3.4,Belize
17,580faa6eaaf906330c7bf2ad,"6,950",0.8,Benin
18,580faa6eaaf906330c7bf2ae,"46,100",4.7,Bolivia
19,580faa6eaaf906330c7bf2af,"10,500",2.3,Bosnia and Herzegovina
20,580faa6eaaf906330c7bf2b0,"9,000",4.5,Botswana
21,580faa6eaaf906330c7bf2b1,"318,480",1.6,Brazil
22,580faa6eaaf906330c7bf2b2,"7,000",16.8,Brunei
23,580faa6eaaf906330c7bf2b3,"31,300",4.3,Bulgaria
24,580faa6eaaf906330c7bf2b4,"11,200",0.7,Burkina Faso
25,580faa6eaaf906330c7bf2b5,"406,000",7.9,Burma
26,580faa6eaaf906330c7bf2b6,"20,000",2.1,Burundi
27,580faa6eaaf906330c7bf2b7,"124,300",8.6,Cambodia
28,580faa6eaaf906330c7bf2b8,"14,100",0.7,Cameroon
29,580faa6faaf906330c7bf2b9,"66,000",1.8,Canada
...,...,...,...,...
483,581a7814aaf906aa0375a23e,"134,900",2.9,Spain
484,581a7814aaf906aa0375a23f,"160,900",7.5,Sri Lanka
485,581a7814aaf906aa0375a240,"244,300",5.9,Sudan
486,581a7814aaf906aa0375a241,"210,000",5.1,South Sudan
487,581a7814aaf906aa0375a242,"1,840",3.8,Suriname
488,581a7814aaf906aa0375a243,"15,300",1.6,Sweden
489,581a7814aaf906aa0375a244,"22,650",2.8,Switzerland
490,581a7815aaf906aa0375a245,"125,000",7,Syria
491,581a7815aaf906aa0375a246,"290,000",12.4,Taiwan
492,581a7815aaf906aa0375a247,"8,800",1.2,Tajikistan
493,581a7815aaf906aa0375a248,"27,000",0.7,Tanzania
494,581a7815aaf906aa0375a249,"360,850",5.4,Thailand
495,581a7815aaf906aa0375a24a,"1,330",1.3,Timor Leste
496,581a7815aaf906aa0375a24b,"8,550",1.4,Togo
497,581a7815aaf906aa0375a24c,"4,050",3.3,Trinidad and Tobago
498,581a7815aaf906aa0375a24d,"35,800",3.4,Tunisia
499,581a7815aaf906aa0375a24e,"510,600",6.6,Turkey
500,581a7815aaf906aa0375a24f,"22,000",4.5,Turkmenistan
501,581a7815aaf906aa0375a250,"45,000",1.4,Uganda
502,581a7815aaf906aa0375a251,"250,000",5.6,Ukraine
503,581a7815aaf906aa0375a252,"51,000",5.5,United Arab Emirates
504,581a7816aaf906aa0375a253,"169,150",2.6,United Kingdom
505,581a7816aaf906aa0375a254,"1,492,200",4.6,United States of America
506,581a7816aaf906aa0375a255,"24,650",7.1,Uruguay
507,581a7816aaf906aa0375a256,"48,000",1.7,Uzbekistan
508,581a7816aaf906aa0375a257,"115,000",4.3,Venezuela
509,581a7816aaf906aa0375a258,"482,000",5.3,Vietnam
510,581a7816aaf906aa0375a259,"66,700",2.9,Yemen
511,581a7816aaf906aa0375a25a,"15,100",1.3,Zambia
512,581a7816aaf906aa0375a25b,"29,000",2.2,Zimbabwe

## Come up with three solvable questions to ask your partner regarding his data. Each should test your knowledge of regular expressions and mongodb. Feel free to look up new ways to do things. Put the questions and the answers to those questions here.

In [50]:
#1) How many active military personel does the United States have?

print mil_collection.find_one({'country':'United States of America'})['active_mil']

1,492,200

                        _id active_mil active_per_cap              country
0  580faa6daaf906330c7bf29c    185,800            5.8          Afghanistan
1  580faa6daaf906330c7bf29d     14,250            4.9              Albania
2  580faa6daaf906330c7bf29e    130,000            3.3              Algeria
3  580faa6daaf906330c7bf29f    107,000            8.4               Angola
4  580faa6daaf906330c7bf2a0        180            2.1  Antigua and Barbuda

In [63]:
#2 Which countries contain the words 'United' or 'And'?

for x in mil_collection.find({'country': {'$regex' : '(United|\sand\s)+'}}):
    print x['country']

Antigua and Barbuda
Bosnia and Herzegovina
Trinidad and Tobago
United Arab Emirates
United Kingdom
United States of America
Antigua and Barbuda
Bosnia and Herzegovina
Trinidad and Tobago
United Arab Emirates
United Kingdom
United States of America
Antigua and Barbuda
Bosnia and Herzegovina
Trinidad and Tobago
United Arab Emirates
United Kingdom
United States of America

In [76]:
#3) What list of countries have an active per_cap over 6?

df_mil['active_per_cap'] = df_mil['active_per_cap'].astype(float)

df_mil[df_mil.active_per_cap > 6].

                          _id active_mil  active_per_cap       country
3    580faa6daaf906330c7bf29f    107,000             8.4        Angola
6    580faa6daaf906330c7bf2a2     44,800            14.9       Armenia
9    580faa6daaf906330c7bf2a5     66,950             7.0    Azerbaijan
11   580faa6daaf906330c7bf2a7      8,200             6.1       Bahrain
22   580faa6eaaf906330c7bf2b2      7,000            16.8        Brunei
25   580faa6eaaf906330c7bf2b5    406,000             7.9         Burma
27   580faa6eaaf906330c7bf2b7    124,300             8.6      Cambodia
35   580faa6faaf906330c7bf2bf    466,713             9.7      Colombia
41   580faa6faaf906330c7bf2c5     12,000            14.0        Cyprus
43   580faa6faaf906330c7bf2c7  1,190,000            47.8   North Korea
45   580faa70aaf906330c7bf2c9     15,000            18.5      Djibouti
51   580faa70aaf906330c7bf2cf    201,750            31.6       Eritrea
62   580faa71aaf906330c7bf2da    143,350            13.0        Greece
73   580faa72aaf906330c7bf2e5    523,000             6.5          Iran
74   580faa72aaf906330c7bf2e6    271,500             8.3          Iraq
76   580faa72aaf906330c7bf2e8    176,500            21.3        Israel
80   580faa72aaf906330c7bf2ec    100,500            15.1        Jordan
87   580faa73aaf906330c7bf2f3    131,000            29.3       Lebanon
104  580faa74aaf906330c7bf304    195,800             6.3       Morocco
114  580faa75aaf906330c7bf30e     42,600            12.5          Oman
130  580faa76aaf906330c7bf31e    233,500             8.1  Saudi Arabia
135  580faa76aaf906330c7bf323     72,500            13.3     Singapore
140  580faa77aaf906330c7bf328    630,000            12.3   South Korea
142  580faa77aaf906330c7bf32a    160,900             7.5     Sri Lanka
148  580faa77aaf906330c7bf330    125,000             7.0         Syria
149  580faa77aaf906330c7bf331    290,000            12.4        Taiwan
157  580faa78aaf906330c7bf339    510,600             6.6        Turkey
164  580faa78aaf906330c7bf340     24,650             7.1       Uruguay
174  580fed49aaf906330c7bf353    107,000             8.4        Angola
177  580fed49aaf906330c7bf356     44,800            14.9       Armenia
..                        ...        ...             ...           ...
328  580fed55aaf906330c7bf3ed    510,600             6.6        Turkey
335  580fed55aaf906330c7bf3f4     24,650             7.1       Uruguay
345  581a780aaaf906aa0375a1b4    107,000             8.4        Angola
348  581a780baaf906aa0375a1b7     44,800            14.9       Armenia
351  581a780baaf906aa0375a1ba     66,950             7.0    Azerbaijan
353  581a780baaf906aa0375a1bc      8,200             6.1       Bahrain
364  581a780caaf906aa0375a1c7      7,000            16.8        Brunei
367  581a780caaf906aa0375a1ca    406,000             7.9         Burma
369  581a780caaf906aa0375a1cc    124,300             8.6      Cambodia
377  581a780daaf906aa0375a1d4    466,713             9.7      Colombia
383  581a780daaf906aa0375a1da     12,000            14.0        Cyprus
385  581a780daaf906aa0375a1dc  1,190,000            47.8   North Korea
387  581a780daaf906aa0375a1de     15,000            18.5      Djibouti
393  581a780eaaf906aa0375a1e4    201,750            31.6       Eritrea
404  581a780eaaf906aa0375a1ef    143,350            13.0        Greece
415  581a780faaf906aa0375a1fa    523,000             6.5          Iran
416  581a780faaf906aa0375a1fb    271,500             8.3          Iraq
418  581a7810aaf906aa0375a1fd    176,500            21.3        Israel
422  581a7810aaf906aa0375a201    100,500            15.1        Jordan
429  581a7810aaf906aa0375a208    131,000            29.3       Lebanon
446  581a7811aaf906aa0375a219    195,800             6.3       Morocco
456  581a7812aaf906aa0375a223     42,600            12.5          Oman
472  581a7813aaf906aa0375a233    233,500             8.1  Saudi Arabia
477  581a7814aaf906aa0375a238     72,500            13.3     Singapore
482  581a7814aaf906aa0375a23d    630,000            12.3   South Korea
484  581a7814aaf906aa0375a23f    160,900             7.5     Sri Lanka
490  581a7815aaf906aa0375a245    125,000             7.0         Syria
491  581a7815aaf906aa0375a246    290,000            12.4        Taiwan
499  581a7815aaf906aa0375a24e    510,600             6.6        Turkey
506  581a7816aaf906aa0375a255     24,650             7.1       Uruguay

[84 rows x 4 columns]

## Solve the questions your partner gave to you. This is for helping you to get more acquianted with these concepts, so try not to give away your answers.

In [31]:
# Which team lost the most amount of championships?

df_nba['Losses'] = df_nba['Losses'].astype(int)

print df_nba[df_nba.Losses == max(df_nba.Losses)][['Team_Name','Losses']]

                        Team_Name  Losses
1  Minneapolis/Los Angeles Lakers      15

In [27]:
# How many championships did the Chicago Bulls win?

print nba_champ_collection.find_one({'Team_Name':'Chicago Bulls'})['Wins']

6

In [59]:
# What was the first year the Celtics one a championship

print min(nba_champ_collection.find_one({'Team_Name':'Boston Celtics'})['Years_Won'][0].split(','))

 1959

## Try inserting a document into your partner's database. What happens? Why do you think that is?